/*
WHACK A RED SHIRT 
*/
.background {
	background-image: url("/img/desert.jpg");
	min-width: 1024px;
	/*min-height: 6px;*/
	height: 625px;
	background-position: center;
	background-repeat: no-repeat;
}

.container {
	font-family: Verdana;
	position: relative;
	margin-top: 0px;
	margin-right: 100px;
	margin-bottom: 25px;
	margin-left: 100px;
	padding: 150px;
}


/*.buttons {
	height: 100px;
	width: 80px;
	margin-top: 50px;
	margin-right: 100px;
}*/

.grid3 {
	height: 260px;
	width: 320px;
	margin-bottom: 100px;
	margin-right: auto;
	margin-left: auto;
	/*position: absolute;*/

	border: 3px blue solid;
}

.box3 {
	height: 125px;
	width: 60px;
	float: left;
	margin: 1px;

	border: black 1px solid;
}

/*THIS CLASS .MOLE WILL TOGGLE WITH THE RANDOM NUMBER*/
.mole {
	background-image: url(/img/red_shirt.gif);

}

h1	{
	float: right;
	font-weight: bolder;
	font-style: italic;
	text-decoration: red;
}

button {
	height: 30px;
	width: 75px;
	text-align: center;
	font-size: large;
	float: right;
}

.start {
	display: none;
}

